@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
  --color-body: white;
  --color-primary-500: #03a9f4;
  --color-primary-600: #1c85be;
  --color-primary-700: #20628b;
  --color-primary-800: #1d415b;
  --color-primary-900: #15232f;
  --gradiant: linear-gradient(90deg, hsla(199, 98%, 48%, 1) 0%, hsla(203, 63%, 34%, 1) 100%);
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size:  2rem;
  cursor: pointer;
}

.flex{
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: .6rem 1.5rem;
  background: var(--gradiant);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn a {
  color: white;
  font-weight: 500;
}

.btn:hover{
  background: var(--color-primary-500);
}

img, video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
}

body {
  background: var(--color-body);
}

.title{
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (min-width:1240px) {
  .container{
    width: 80% !important;
    margin: auto !important;
  }

  .section{
    padding: 6rem 0 4rem;
  }
}

@media screen and (min-width:2560px) {
  body{
    zoom: 1.7;
  }
}